p {
    color: blue;
    border: 5px;
    border-color: rgb(255, 0, 0);
}

body {
    background-color: darkgrey;
}

#main-grid {
    column-gap: 10px;
    row-gap: 15px;
    justify-content: center;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    min-width: 800px;
}

.row {
    grid-template-columns: repeat(10, 1fr);
    gap: 0px;
    grid-auto-rows: auto;
}

#one_column {
    grid-column: 1;
    grid-row: 1;
}

#two_column {
    grid-column: 2;
    grid-row: 1;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#score {
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
    font-size: 15px;
}

#bomb-entry {
    width: 3.5em;
}